[tool.poetry]
name = "wled"
version = "0.0.0"
description = "Asynchronous Python client for WLED."
authors = ["Franck Nijhof <opensource@frenck.dev>"]
maintainers = ["Franck Nijhof <opensource@frenck.dev>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/frenck/python-wled"
repository = "https://github.com/frenck/python-wled"
documentation = "https://github.com/frenck/python-wled"
keywords = ["wled", "api", "async", "client"]
classifiers = [
  "Development Status :: 4 - Beta",
  "Framework :: AsyncIO",
  "Intended Audience :: Developers",
  "Natural Language :: English",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3",
  "Topic :: Software Development :: Libraries :: Python Modules",
]
packages = [
    { include = "wled", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.8"
aiohttp = ">=3.0.0"
yarl = ">=1.6.0"
backoff = ">=1.9.0"

[tool.poetry.dev-dependencies]
aresponses = "^2.1.4"
black = "^21.7b0"
blacken-docs = "^1.10.0"
coverage = {version = "^5.5", extras = ["toml"]}
flake8 = "^3.8.4"
flake8-docstrings = "^1.5.0"
isort = "^5.9.3"
mypy = "^0.910"
pre-commit = "^2.11.1"
pre-commit-hooks = "^4.0.1"
pylint = "^2.9.6"
pytest = "^6.2.2"
pytest-asyncio = "^0.15.1"
pytest-cov = "^2.11.1"
yamllint = "^1.26.0"
pyupgrade = "^2.23.1"
flake8-simplify = "^0.14.0"
vulture = "^2.3"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^21.3.2"
flake8-builtins = "^1.5.3"
flake8-comprehensions = "^3.3.1"
flake8-eradicate = "^1.1.0"
flake8-markdown = "^0.2.0"
darglint = "^1.7.0"
safety = "^1.10.3"
codespell = "^2.1.0"
bandit = "^1.7.0"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/frenck/python-wled/issues"
Changelog = "https://github.com/frenck/python-wled/releases"

[tool.black]
target-version = ['py37']

[tool.coverage.paths]
source = ["src"]

[tool.coverage.report]
show_missing = true
exclude_lines = ["pragma: no cover", "if TYPE_CHECKING:"]

[tool.coverage.run]
branch = true
source = ["wled"]

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.pylint.MASTER]
load-plugins = [
  "pylint.extensions.bad_builtin",
  "pylint.extensions.code_style",
  "pylint.extensions.docparams",
  "pylint.extensions.docstyle",
  "pylint.extensions.empty_comment",
  "pylint.extensions.overlapping_exceptions",
  "pylint.extensions.typing",
]
ignore= [
  "tests"
]

[tool.pylint.BASIC]
good-names = [
    "_",
    "ex",
    "fp",
    "i",
    "id",
    "j",
    "k",
    "on",
    "Run",
    "T",
    "wv",
]

[tool.pylint."MESSAGES CONTROL"]
disable= [
    "too-few-public-methods",
    "duplicate-code",
    "format",
    "unsubscriptable-object",
]

[tool.pylint.SIMILARITIES]
ignore-imports = true

[tool.pylint.FORMAT]
max-line-length=88

[tool.pylint.DESIGN]
max-attributes=20

[tool.pytest.ini_options]
addopts = " --cov"

[tool.vulture]
min_confidence = 80
paths = ["src", "tests"]
verbose = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
